<nav class="navbar navbar-expand-lg navbar-light  bg-primary" >
  <div class="container-fluid" >
    <%= link_to "MpesaMock", root_path, class:'navbar-brand'%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
    data-bs-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" 
    aria-expanded="false" aria-label="Toggle navigation">
      <span  class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if !current_user %>
          <li style="color: light" class="nav-item">
            <%= link_to "Home", get_started_path, class:'nav-link'%>
        </li>
        <% end %>
        <% if current_user %>
          <li class="nav-item">
            <%= link_to "Top Up", mpesa_transactions_top_up_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Send Money", contacts_path, class:"nav-link" %>
          </li>
          <li class="nav-item" id="upload-url-item">
            <%= link_to "View Transactions", mpesa_transactions_path, class:"nav-link" %>
          </li>
        <% end %>

      </ul>
      <ul class="navbar-nav">
        <%= render 'user/notifications_manager' %>
      </ul>
        <ul class="navbar-nav">
          <%= render 'user/session_manager' %>
        </ul>
    </div>
  </div>
</nav>
